@charset "UTF-8";

/* ------------------------------메인 페이지 css영역 (BMI체크)-------------------------------------- */
.MainBoard{
	width: 80%;
	margin: 0 auto;
	border: 2px solid#eee;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	padding-bottom: 80px;
}
.Main_Item{
	display: flex;
	padding: 1.5em;
	border: 2px solid#eee;
	border-radius: 12px;
	margin: 1.1em;
}
.genderRadio{
	display: flex;
	justify-content: space-between;
}
.Main_Item > div {
	text-align: center;
	align-self: center;
}
.Main_Item_Text{
	width: 150px;
	font-weight: bold;
}
.Main_Item_Value{
	width: 300px;
}
.Main_Item input{
	font-size: 20px;
	padding: 0.5em;
}
.Main_Item button {
	width: 450px;
	padding: 8px;
	color: #309df8;
	background-color: #c4e4fd;
	border: 0px solid#000000;
	cursor: pointer;
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 7px;
}
#resultBoard{
	width: 80%;
	background-color: #eee;
	display: flex;
	justify-content: center;
	padding: 1.3em;
}
.bmi_INFO{
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.bmi_INFO div {
	padding: 0.3em;
	font-weight: bold;
}
.bmi_INFO span {
	width: 100px;
}
.bmi_Result{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bmi_Result_text{
	font-size: 22px;
	font-weight: bold;
}
.bmi_Result_answer{
	font-size: 48px;
	padding: 0.8em;
}
/*-----------------다른 사람 최근측정 페이지-------------------*/
/*----------------------검색---------------------------  */
.bmi_option{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 97%;
}
.bmi_option_board{
	display: flex;
	align-items: center;
	font-size: 22px;
	font-weight: bold;
}
.bmi_option_board > div {
	margin: 0.4em;
}
.bmi_option_title{
	font-size: 22px;
	font-weight: bold;
}
.bmi_option_board select {
	font-size: 18px;
	width: 150px;
	padding: 0.3em;
	font-weight: bold;
}
/* ---------------------리스트----------------------- */
.bmiList{
	background-color: #fff;
	width: 85%;
	margin: 0 auto;
	padding: 0.8em;
	padding-bottom: 80px;
}
.bmi_list_board{
	padding: 0.5em;
}
.bmi_list_item{
	display: flex;
	justify-content: space-around;
	border: 1px solid#000000;
	padding: 0.5em;
	font-size: 20px;
	margin: 0.4em;
}
.toplist{
	padding: 0.8em;
}
.bmi_top{
	font-weight: bold;
	font-size: 22px;
}
.bmi_list_item div {
	text-align: center;
	align-self: center;
}
.bmi_list_num{
	font-weight: bold;
	width: 5%;
}
.bmi_list_height{
	width: 8%;
}
.bmi_list_weight{
	width: 8%;
}
.bmi_list_age{
	width: 5%;
}
.bmi_list_gender{
	width: 5%;
}
.bmi_list_BMI{
	width: 10%;
}
.bmi_list_answer{
	width: 10%;
}
.bmi_list_date{
	width: 15%;
}
.bmi_list_user{
	width: 15%;
}

/*-----------------페이징--------------------  */

.bmi_page{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	font-size: 22px;
	font-weight: bold;
}





















