@charset "UTF-8";
body{
	padding: 0;
	margin: 0;
	background-color: #efefef;
}
header{
	background-color: #ff6c6c;
	display: flex;
	color: #fff;
	padding: 15px;
	justify-content: space-between;
	font-size: 18px;
	height: 60px;
	align-items: center;
}
nav{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: #c4e4fd;
}
/* ------------------------------메인 페이지 css영역-------------------------------------- */
.MainBoard{
	width: 80%;
	margin: 0 auto;
	border: 2px solid#eee;
	background-color: #fff;
	height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}
.Main_Item{
	display: flex;
	padding: 2em;
}
.genderRadio{
	display: flex;
	justify-content: space-between;
}
.Main_Item > div {
	text-align: center;
	align-self: center;
}
.Main_Item_Text{
	width: 150px;
	font-weight: bold;
}
.Main_Item_Value{
	width: 300px;
}
.Main_Item input{
	font-size: 22px;
	padding: 0.5em;
}
.Main_Item button {
	width: 450px;
	padding: 8px;
	color: #fff;
	background-color: #c4e4fd;
	border: 0px solid#000000;
	cursor: pointer;
}










