@charset "UTF-8";
body{
	padding: 0;
	margin: 0;
	background-color: #efefef;
}
header{
	background-color: #ff6c6c;
	display: flex;
	color: #fff;
	padding: 15px;
	justify-content: space-between;
	font-size: 18px;
	height: 60px;
	align-items: center;
}
nav{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: #c4e4fd;
	font-weight: bold;
	font-size: 20px;
}








