<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptk.mapper.FreeBBSMapper">
	<insert id="bbsinsert">
		insert into free (user,subject,content,ip,img) values (#{user},#{subject},#{content},#{ip},#{img})
	</insert>
	<select id="getFreevoList" resultType="FreeVO">
		select free.*, count(boardUID) AS likestack from free LEFT JOIN freeBoardLike ON free.UID = freeBoardLike.boardUID group by UID limit 0,5
	</select>
	<select id="getTotalList" resultType="int">
		select count(*) from free
	</select>
	<select id="getFreeVO" resultType="FreeVO">
		select free.*, count(*) AS likestack from free LEFT JOIN freeBoardLike on free.UID = freeBoardLike.boardUID where uid=#{uid};
	</select>
	<select id="refUpdate">
		update free set ref= ref+1 where uid=#{uid}
	</select>
	<insert id="likeDo">
		insert into freeBoardLike (boardUID,userID) values (#{uid},#{user});
	</insert>
	<select id="getLikeValue" resultType="boolean">
		select if(count(*) >= 1 ,true,false) from freeBoardLike where boardUID=#{uid} and userID=#{user}
	</select>
	<delete id="likedelete">
		delete from freeBoardLike where boardUID=#{boardUID} and userID=#{userID}
	</delete>
	<select id="getFreeVOSearch" resultType="FreeVO">
		select free.*, count(boardUID) AS likestack from free LEFT JOIN freeBoardLike ON free.UID = freeBoardLike.boardUID where subject LIKE CONCAT('%',#{inputvalue},'%') group by UID limit #{limitstart},#{pagecut}	
	<!-- select * from free where subject LIKE CONCAT('%',#{inputvalue},'%') -->
	</select>
</mapper>