<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ptk.mapper.WeightMapper">
	<insert id="weightInsert">
		insert into weight (weight,height,age,gender,ip,bmi,bmi_status,user) values (#{weight},#{height},#{age},#{gender},#{ip},#{bmi},#{bmi_status},#{user})
	</insert>
	<select id="getWeightList" resultType="WeightVO">
		select * from weight order by uploadDate desc limit 0,10;
	</select>
	<select id="getWeightListselect" resultType="WeightVO">
		select * from weight where bmi_status=#{bmi_status} order by uploadDate desc limit 0,50;
	</select>
	<select id="getWeightListPage" resultType="WeightVO">
		select * from weight order by uploadDate desc limit #{limitstart},#{pagecut};
	</select>
	<select id="getTotalList" resultType="int">
		select count(*) from weight
	</select>
</mapper>