@charset "UTF-8";

/* free 자유게시판 css */

.freeMain{
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
	padding: 0.8em;
	width: 80%;
}
.freeBoard{
	display: flex;
	flex-direction: column;
}
.freeBoardList{
	display: flex;
	justify-content: center;
	margin: 0.3em;
	border-top: 1px solid#000000;
	border-bottom: 1px solid#000000;
}
.listtop div {
	font-weight: bold;
	font-size: 20px;
}
.freeBoardList div {
	text-align: center;
	padding: 0.6em;
}
.freeBoardList_Num{
	width: 5%;
}
.freeBoardList_Subject{
	width: 38%;
	cursor: pointer;
}
.freeBoardList_Subject:hover{
	background-color: #d9d9d9;
}
.freeBoardList_Date{
	width: 18%;
}
.freeBoardList_User{
	width: 15%;
}
.freeBoardList_Ref{
	width: 8%;
}
.freeBoardList_Like{
	width: 8%;
}
#freeBoardPage{
	display: flex;
	justify-content: center;
	align-self: center;
	font-size: 20px;
	font-weight: bold;
	padding: 0.5em;
	margin: 1em;
}
#freeBoardPage div {
	
}

.freeBoardSearchOption{
	display: flex;
	justify-content: center;
	align-items : center;
	padding: 1.2em;
}
.freeBoardSearchOption div {
	display: flex;
	justify-content: center;
}
.freeBoard_refresh{
	width: 10%;
}
.freeBoard_refresh img {
	max-width: 50px;
	max-height: 50px;
	cursor: pointer;
}
.freeBoard_select{
	width: 10%;
}
.freeBoard_select select {
	font-size: 20px;
	font-weight: bold;
	padding: 0.2em;
}
.freeBoard_input{
	width: 25%;
}
.freeBoard_input input {
	width: 90%;
	font-size: 20px;
	padding: 0.2em;
}
.freeBoard_searchbutton{
	width: 8%;
}
.freeBoard_postingbutton{
	width: 15%;
}
.freeBoardSearchOption button {
	font-size: 20px;
}
/* ------------------업로드-----------------  */

.freePosting{
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
}
.freePosting_title{
	font-size: 24px;
	font-weight: bold;	
	padding: 1.2em;
}
.freePostingBorder{
	display: flex;
	flex-direction: column;
}
.freePosting_Item{
	padding: 0.7em;
	display: flex;
	border: 1px solid#000000;
}
.freePosting_Item div {
	margin: 0.6em;
}
.freePosting_Item > div {
	font-size: 20px;
	font-weight: bold;
}
.freePosting_text{
	align-self: center;
	width: 8%;
	text-align: center;
}
.freePosting_value{
	display: flex;
	justify-content: center;
	width: 60%;
}
.freePosting_value > input {
	width: 100%;
}
.freePosting_status{
	width: 80%;
}
.freePosting_status span {
	margin: 0.3em;
}

#freePosting_content{
	width: 100%;
	min-height: 300px;
	padding: 0.6em;
	font-size: 20px;
}

#myfile{
	display: none;
}
.freePosting_fileupload{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#fileupbutton{
	border: 1px solid#000000;
	cursor: pointer;
	padding: 0.3em;
	border-radius: 13px;
}
#fileupbutton:hover{
	background-color: #eee;
}
#filetextresult{
	display: flex;
	align-items: center;
}
#filetextresult > span {
	margin-left: 1.5em;
}
.freePosting_fileupload > div {
	display: flex;
}
.freePosting_fileupload img {
	max-width: 150px;
	max-height: 150px;
}
#freePosting_submitButton{
	width: 60%;
	padding: 0.4em;
	font-size: 22px;
	font-weight: bold;
	border-radius: 12px;
	background-color: #606060;
	border: 0px solid#000000;
	color: #fff;
	cursor: pointer;
}




























